body {
  background-color:#fff;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #fb3530;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #b40404;
}

h3 {
  color: #b40404;
}

html {
  font-family: "Tahoma", sans-serif;
}

span {
  color: #b40404;
}

#nav {
  background-color: #d5acc4 !important;
  font-size: 1.2rem;
  font-weight: 500;

  
}


.time {
  text-align: right !important;
}